option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /online-library-management-/Online Library Management System/SQL file/library
    memory_limit: 256M
    max_file_uploads: 20
    upload_max_filesize: 10M
    post_max_size: 10M
    short_open_tag: "On"
    zlib.output_compression: "On"
    error_log: /var/log/php-error.log

  aws:elasticbeanstalk:application:environment:
    RDS_DB_HOST: "localhost"
    RDS_DB_NAME: "library"
    RDS_DB_USER: "admin"
    RDS_DB_PASSWORD: ""
    APP_DEBUG: "false"
    LOG_LEVEL: "info"

  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    InstanceType: t3.micro
    EC2KeyName: ""
    RootVolumeSize: 20
    RootVolumeType: gp2

  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: "true"
    DeleteOnTerminate: "false"
    RetentionInDays: 7
    IamFlushLevel: "Info"

  aws:elasticbeanstalk:xray:
    XRayEnabled: "false"

  aws:ec2:vpc:
    VPCId: ""
    Subnets: ""
    ELBSubnets: ""
    AssociatePublicIpAddress: "true"

  aws:elasticbeanstalk:environment:
    EnvironmentType: "LoadBalanced"
    LoadBalancerType: "application"
    ServiceRole: aws-elasticbeanstalk-service-role
    EC2KeyName: ""

  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateEnabled: "true"
    MaxBatchSize: 1
    MinInstancesInService: 1
    RollingUpdateType: "Health"
    Timeout: "PT30M"
