Resources:
  LibraryDatabase:
    Type: AWS::RDS::DBInstance
    DeletionPolicy: Snapshot
    Properties:
      DBInstanceIdentifier: library-db
      Engine: mysql
      EngineVersion: '8.0'
      DBInstanceClass: db.t3.micro
      AllocatedStorage: '20'
      StorageType: gp2
      MasterUsername: !Sub '{{resolve:secretsmanager:library/db:SecretString:username}}'
      MasterUserPassword: !Sub '{{resolve:secretsmanager:library/db:SecretString:password}}'
      DBName: library
      VPCSecurityGroups:
        - !Ref DBSecurityGroup
      MultiAZ: false
      StorageEncrypted: true
      BackupRetentionPeriod: 7
      PreferredBackupWindow: '03:00-04:00'
      PreferredMaintenanceWindow: 'mon:04:00-mon:05:00'
      EnableCloudwatchLogsExports:
        - error
        - general
        - slowquery
      EnableIAMDatabaseAuthentication: true
      Tags:
        - Key: Name
          Value: library-database

  DBSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Security group for Library RDS database
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 3306
          ToPort: 3306
          CidrIp: 0.0.0.0/0
          Description: Allow MySQL from anywhere

  DatabaseSecret:
    Type: AWS::SecretsManager::Secret
    Properties:
      Name: library/db
      Description: Library database credentials
      SecretString: !Sub |
        {
          "username": "admin",
          "password": "${DBPassword}"
        }

Outputs:
  DBEndpoint:
    Description: Database endpoint
    Value: !GetAtt LibraryDatabase.Endpoint.Address
    Export:
      Name: LibraryDBEndpoint
